@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font  start  */

.font-cursive{
    font-family: 'Style Script', cursive;
}

.font-openSans {
  font-family: 'Anek Latin', sans-serif;


}

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

/* font end */



:root{
  margin: 0;
  padding: 0;
  background-origin: border-box;
 font-family: 'Anek Latin', sans-serif;

  scroll-behavior: smooth;

--base-one:#060826;
--base-one-shade1:#7f809e;

--base-two:#984063;
--base-two-shade1:#dc86a9;

--base-three:#f64668;
--base-three-shade1:#f994a9;

--base-four:#fe9677;
--base-four-shade1:#fbddd4;


--text-base1:#c3cbc3;
--text-base2:#bdb7b7;


  --dark-bg:var(--base-one);
  --dark-text:var(--base-three);
  --light-bg:var(--base-four-shade1);
  --light-text:var(--text-base1);


  --secondary-dark:#1d1b36;



  --hero-light-bg:#5aa4ff;
  --hero-dark-bg:#010e1d;
  --hero-light-text:#fff;
  --hero-dark-text:#01030e;

--dark-mobile-menu:var(--secondary-dark);
--light-mobile-menu:var(--base-three);

  /* color */
--hallmark-purple:#452c63;
  --royal-blue:#4169E1;
  --del-blue:#0076CE;
  --celdon-light:#ACE1AF;
  --col-blue:#B9D9EB;
  --kc-blue:#004687;
  --light-cyan:#E0FFFF;
  --perwinkle:#CCCCFF;
  --hover-link:#044f20;
  --uranian-blue:#AFDBF5;
  
}



.dark{
background-color: var(--dark-bg);
color: var(--base-three-shade1);

}

.light{
background-color: var(--light-bg);
color: var(--dark-text);

}

.dark-menu{
    background: var(--dark-mobile-menu);

    color: var(--base-three-shade1);
}

.light-menu{
    background: var(--light-mobile-menu);
color: var(--base-four-shade1);
}
.hero-dark{
background-color: var(--hero-dark-bg);
color: var(--hero-light-text);
}

.hero-light{
background-color:var(--hero-light-bg);
color:var(--hero-dark-text) ;
}


@keyframes move {
  0%,100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
   25% {
    border-radius: 38% 68% 78% 48% / 58% 68% 38% 68%;
  }
   50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
     65% {
    border-radius: 33% 67% 75% 48% / 55% 68% 37% 69%;
  }
     70% {
    border-radius: 55% 45% 80% 65% / 50% 40% 55% 40%;
  }

}